.gallery {
    justify-content: center;
    display: grid;    
    grid-template-columns: repeat(auto-fill, 350px);
    grid-template-rows: auto;
    grid-gap: 20px;
}

.gallery .movie {
    background: #fff;
    width: 350px;
    height: 231px;
}

.movie-poster {
    float: left;
    object-fit: cover;
    width: 154px;
}

.movie-data {
    width: 196px;
    float: left;
    object-fit: cover;
}

.movie-data h3 {
    text-align: center;
}
