.header{
    font-family: Anton,sans-serif;
    font-size: 120px;
    color: #A91F1F;
    text-shadow: 5px 12px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding-top: 0;
    margin-left: 30px;
    padding-bottom: 0;    
}

.rating {
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    color: #d3d3d3;
    line-height: 30px;
    padding: 80px;
}

.slider {
  appearance: none;
  width: 250px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #A91F1F;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

@media only screen and (max-width: 1024px){
    
[class*="col-"] {
    width: 100%;
}
    
.header{
    font-family: Anton;
    font-size: 100px;
    color: #A91F1F;
    text-shadow: 5px 12px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding-top: 0;
    margin-left: 0;
    padding-bottom: 0;
    text-align: center;    
}
    
.rating {
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding: 0px;
}
    
.col-1{
    visibility: hidden;  
}
 
}
